@tailwind base;
@tailwind components;
@tailwind utilities;

/* --- ANIMACIÓN PARA EL FONDO DINÁMICO --- */
@keyframes gradient-bg {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient-xy {
  background-size: 400% 400%; /* Importante para que el gradiente tenga espacio para moverse */
  animation: gradient-bg 15s ease infinite;
}

/* Opcional: Una animación suave para que el login aparezca bonito */
@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-up {
  animation: fade-in-up 0.5s ease-out forwards;
}